<div class="card componentStyle">
    <table style="margin:auto;" >
        <tr>
            <label  style="padding-left: 50px;" class="form-label" for="txtemail">email address</label>
        </tr>
        <tr>
            <input  type="text" [(ngModel)]='emailaddress' class="form-control" id="txtemail">
        </tr>
        <tr>
            <label style="padding-left: 70px;" class="form-label" for="txtpassword">password</label>
        </tr>
        <tr>
            <input type="password" [(ngModel)]='password' class="form-control" id="txtpassword">
        </tr>
        <tr style="text-align: center;">
            <input (click)="signin()" type="button" class="btn btn-primary" value="sign in">
        </tr>
    </table>
</div>
