<div class="card componentStyle">
    <form>
        
        <table border="1" style="margin: auto;">
            <tr>
                <td>
                    <label class="form-label" for="txtname">NAME OF THE CANDIDATE</label>
                </td>
                <td>
                    <input #txtname="ngModel" required ngModel name="txtname" placeholder="first name" type="text" id="txtname" class="form-control">
                </td>
                    <div *ngIf="txtname.touched && txtname.invalid" class="alert alert-danger" role="alert">
                        please enter firstname..
                    </div>
                <td>
                    <input #txtname="ngModel" required ngModel name="txtname" type="text" id="txtname" placeholder="second name" class="form-control">
                 </td>
                    <div *ngIf="txtname.touched && txtname.invalid" class="alert alert-danger" role="alert">
                        please enter second name..
                    </div>
            </tr>
            <tr>
                <td>
                    <label for="txtfname" class="from-label" >FATHER NAME</label>
                </td>
                <td>
                    <input  #txtfname="ngModel" required ngModel name="txtfname" type="text" class="form-control" id="txtfname" placeholder="first name">
                </td>
                <div *ngIf="txtfname.touched && txtfname.invalid" class="alert alert-danger" role="alert">
                    please enter firstname..
                    </div>
                <td>
                    <input  #txtfname="ngModel" required ngModel name="txtfname" type="text" class="form-control" id="txtfname" placeholder="second name">
                </td>
                <div *ngIf="txtfname.touched && txtfname.invalid" class="alert alert-danger" role="alert">
                    please enter second name..
                </div>
            </tr>
            <tr>
                <td>
                    <label for="txtemail" class="form-label">EMAIL ADDRESS</label>
                </td>
                <td colspan="2">
                    <input pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #txtemail="ngModel" required ngModel name="txtemail" type="text" class="form-control" id="txtemail" placeholder="enter email">
                </td>
                
            </tr>
            <tr>
                <td colspan="3">
                <div *ngIf="txtemail.touched && txtemail.invalid">
                    <div *ngIf="txtemail.errors['required']" class="alert alert-danger" role="alert">
                        please enter email address..
                    </div>
                    <div *ngIf="txtemail.errors['pattern']" class="alert alert-danger" role="alert">
                        please enter proper email address..
                    </div>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">GENDER</label>
                </td>
                <td style="padding-left: 200px;" colspan="2">
                    <input type="radio" name="value" >Male
                    <input type="radio" name="value">Female
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">ADDRESS</label>
                </td>
                <td colspan="2">
                    <textarea cols="60" rows="2"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="txtmobile">MOBILE NUMBER</label>
                </td>
                <td>
                    <input #txtmobile="ngModel" required ngModel name="txtmobile" type="text" id="txtmobile" class="form-control" placeholder="enter mobile number">
                </td>
                    <div *ngIf="txtmobile.touched && txtmobile.invalid" class="alert alert-danger" role="alert">
                        please enter mobile number..
                    </div>
                <td>
                    <input #txtmobile="ngModel" required ngModel name="txtmobile" type="text" id="txtmobile" class="form-control" placeholder="enter alternate mobile number">
                </td>
                <div *ngIf="txtmobile.touched && txtmobile.invalid" class="alert alert-danger" role="alert">
                    please enter alternate mobile number..
                </div>
            </tr>
            <tr>
                <td>
                    <label for="txtdate" class="form-label">DATE OF BIRTH</label> 
                </td>
                <td colspan="2">
                    <input #txtdate="ngModel" required ngModel name="txtdate" type="date" class="form-control" id="txtdate" placeholder="date of birth">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                <div *ngIf="txtdate.touched && txtdate.invalid" class="alert alert-danger" role="alert">
                    please enter date of birth..
                </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label><b>Qualification Details</b></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">SSC</label>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="year of pass">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="percentage/CGPA">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">INTER/DIPLOMA</label>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="year of pass">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="percentage/CGPA">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">Degree/B.TECH</label>
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="year of pass">
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="percentage/CGPA">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">Are you married</label>
                </td>
                <td style="padding-left: 200px;" colspan="2">
                    <input type="radio" name="value">YES
                    <input type="radio" name="value">NO
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">PHC</label>
                </td>
                <td style="padding-left: 200px;" colspan="2">
                    <input type="radio" name="value">YES
                    <input type="radio" name="value">NO
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label">Degree/B.TECH specialization</label>
                </td>
                <td style="padding-left: 200px;" colspan="2">
                    <select>
                        <option>select</option>
                        <option>EEE</option>
                        <option>MECH</option>
                        <option>CIVIL</option>
                        <option>CSE</option>
                        <option>B.COM</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 150px;" colspan="3">
                    <input  type="checkbox" value="terms" >please verify above details,clickon chuckbox and then submit
                </td>
            </tr>
            <tr>
                <td style="padding-left: 300px;" colspan="3">
                <input  type="button" class="btn btn-primary" value="submit">
                </td>
            </tr>
        </table>
        
        
    </form>
</div>
