<div class="card componentStyle">
    <table>
        <tr>
            <td style="width: 48%;text-align: center;">
                <img style="border-radius: 50%;height: 200px;width: 200px;" [src]="imgUrl">

            </td>
            <td style="width: 4%;">
                <div style="border-left: 3px solid green;height: 100px"></div>
            </td>
            <td style="width: 48%;">
                <h5>
                    Hello Everyone...!
                    this is upender am here for learning Angular course....
                    
                </h5>
            </td>
        </tr>
    </table>
</div>
